*~
places
\.cache
\.recentf
\.smex-items
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
elpa/
eshell
.emacs.desktop
.emacs.desktop.lock
saved-elpa
ido.last
*.md#
transient/
**/forge-database*
.dap-breakpoints
.lsp-session-v1
eclipse.jdt.ls/
workspace/
